{% extends 'info/base.html' %}
{% load static %}
{% block title %}Patient Details{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center info my-5 py-4">
            <h1 class="font-weight-bold header">Patient Details</h1>
            <hr>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">{{ patient.name }}</h1>
        <table class="table w-auto">
            <tbody>
                <tr>
                    <th>Age</th>
                    <td><span class="badge badge-light">{{ patient.age }}</span></td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td><span class="badge badge-light">{{ patient.sex }}</span></td>
                </tr>
                <tr>
                    <th>Job</th>
                    <td><span class="badge badge-light">{{ patient.job }}</span></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><span class="badge badge-light">{{ patient.city }}</span></td>
                </tr>
                <tr>
                    <th>Province</th>
                    <td><span class="badge badge-light">{{ patient.province }}</span></td>
                </tr>
                <tr>
                    <th>Medical History</th>
                    <td><span class="badge badge-light">{{ patient.medical_history }}</span></td>
                </tr>
                <tr>
                    <th>Education</th>
                    <td><span class="badge badge-light">{{ patient.education }}</span></td>
                </tr>
                <tr>
                    <th>Symptoms</th>
                    <td><span class="badge badge-light">{{ patient.symptoms }}</span></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary mt-4" href="{% url 'info:patient' %}" role="button">BACK</a>
    </div>
</div>
{% endblock content %}