{% extends 'info/base.html' %}
{% load static %}
{% block title %}Hospitals{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center info my-5 py-4">
            <h1 class="font-weight-bold">Special Hospitals for COVID-19 patients</h1>
            <hr>
        </div>
    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Province</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            {% for rumah_sakit in rumah_sakit_rujukan %}
            <tr>
                <td>{{ rumah_sakit.rumah_sakit }}</td>
                <td>{{ rumah_sakit.provinsi }}</td>
                <td>{{ rumah_sakit.alamat }}</td>
                <td>{{ rumah_sakit.nomor_telepon }}</td>
                <td>{{ rumah_sakit.region }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-warning btn-xl my-4" href="{% url 'info:info' %}">Other Info</a>
</div>
{% endblock content %}