{% extends 'article/base.html' %}

{% block content  %}

<div class="article">
  <h1>{{ article.title }}</h1>
  <h3>{{ article.author }}</h3>
  <img class="thumbnail" src="{% with article.image.all|first as first %}{{ first.image.url }}{% endwith %}">
  <p>
    {% for i in article.tags.all %}<a href="{% url 'article:tags' name=i.name %}" class="tags">{{ i }}</a> {% endfor %}
  </p>
  <p>{{ article.text }}</p>
  {% for i in article.image.all|slice:'1:' %}
  <img class="thumbnail" src="{{ i.image.url }}">
  {% endfor %}
</div>

{% endblock %}