{% extends 'article/base.html' %}

{% block content  %}
<h1>Article Berdasarkan</h1>

{% if article %}
<div class="article">
  {% for i in article %}

  <div class="child">
    <h3>{{ i.title }}</h3>
    <h5>{{ i.author }}</h5>

    <p>
      {% for j in i.tags.all %}<span class="tags">{{ j }}</span> {% endfor %}
    </p>

    <img class="thumbnail" src="{% with i.image.all|first as first %}{{ first.image.url }}{% endwith %}">
    <p>{{ i.text|truncatechars:255 }}</p>
    <a href="{% url 'article:detail' id=i.id %}">See more</a>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>Something is wrong. There's no article :(</h3>
{% endif %}
{% endblock  %}