<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>Login</h1>
    {% if user.is_authenticated %}
        <p>Hi {{user.username}}</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include "home/footer.html" %}
</body>
</html>