{% extends 'form/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %}Form{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

<!-- Content -->
{% block content %}
    <div class="container">    
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center info my-5 py-4">
                <h1 class="font-weight-bold header">Patient Form</h1>
                <hr>
            </div>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.city|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.province|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    {{ form.age|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.sex|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.medical_history|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.job|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.education|as_crispy_field }}
                </div>
            </div>
            {{ form.symptoms|as_crispy_field }}
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
{% endblock content %}