html,
body,
#landing-page {
  height: 100%;
}

/* Main section */
main {
  font-family: "Roboto", sans-serif;
}

.info h1 {
  font-family: "Dosis", sans-serif;
}

.info {
  margin: 5% 0;
}

hr {
  border-bottom: 1px solid #00ac96;
  width: 20%;
}

header .navbar-nav .nav-item .nav-link {
  color: black !important;
}

/* Gambar-gambar */
#images .container-fluid,
#images .container-sm,
#images .container-md,
#images .container-lg,
#images .container-xl {
  max-width: 1920px;
}
#images .container-fluid .images-box,
#images .container-sm .images-box,
#images .container-md .images-box,
#images .container-lg .images-box,
#images .container-xl .images-box {
  position: relative;
  display: block;
}
#images .container-fluid .images-box .images-box-caption,
#images .container-sm .images-box .images-box-caption,
#images .container-md .images-box .images-box-caption,
#images .container-lg .images-box .images-box-caption,
#images .container-xl .images-box .images-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #00ac96;
  transition: opacity 0.25s ease;
  text-align: center;
}
#images .container-fluid .images-box .images-box-caption .project-category,
#images .container-sm .images-box .images-box-caption .project-category,
#images .container-md .images-box .images-box-caption .project-category,
#images .container-lg .images-box .images-box-caption .project-category,
#images .container-xl .images-box .images-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#images .container-fluid .images-box .images-box-caption .project-name,
#images .container-sm .images-box .images-box-caption .project-name,
#images .container-md .images-box .images-box-caption .project-name,
#images .container-lg .images-box .images-box-caption .project-name,
#images .container-xl .images-box .images-box-caption .project-name {
  font-size: 1.2rem;
}
#images .container-fluid .images-box:hover .images-box-caption,
#images .container-sm .images-box:hover .images-box-caption,
#images .container-md .images-box:hover .images-box-caption,
#images .container-lg .images-box:hover .images-box-caption,
#images .container-xl .images-box:hover .images-box-caption {
  opacity: 1;
}
